kind: Service
apiVersion: v1
metadata:
  name: finecollectionservice 
  labels:
    app: finecollectionservice
spec:
  type: LoadBalancer
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3500
  selector:
    app: finecollectionservice

---
kind: Service
apiVersion: v1
metadata:
  name: finecollectionservice-direct 
  labels:
    app: finecollectionservice
spec:
  type: LoadBalancer
  ports:
  - protocol: TCP
    port: 80
    targetPort: 6001
  selector:
    app: finecollectionservice

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: finecollectionservice
  labels:
    app: finecollectionservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: finecollectionservice
  template:
    metadata:
      labels:
        app: finecollectionservice
        aadpodidbinding: mi-aks-dapr-ussc-demo
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "finecollectionservice"
        dapr.io/app-port: "6001"
        dapr.io/log-level: "debug"
        dapr.io/sidecar-listen-addresses : "0.0.0.0"
        dapr.io/sidecar-cpu-request: "100m"
        dapr.io/sidecar-memory-request: "250Mi"
        dapr.io/sidecar-cpu-limit: "300m"
        dapr.io/sidecar-memory-limit: "1000Mi"
    spec:
      containers:
      - name: finecollectionservice
        image: rutzscocr.azurecr.io/dapr-hack/finecollectionservice:latest
        ports:
        - containerPort: 6001
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 1000m
            memory: 200Mi
        livenessProbe:
          httpGet:
            path: v1.0/healthz
            port: 3500
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds : 5
          failureThreshold : 3
        readinessProbe:
          httpGet:
            path: v1.0/healthz
            port: 3500
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds : 5
          failureThreshold: 3