kind: Service
apiVersion: v1
metadata:
  name: vehicleregistrationservice 
  labels:
    app: vehicleregistrationservice
spec:
  type: LoadBalancer
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3500
  selector:
    app: vehicleregistrationservice

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vehicleregistrationservice
  labels:
    app: vehicleregistrationservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vehicleregistrationservice
  template:
    metadata:
      labels:
        app: vehicleregistrationservice
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "vehicleregistrationservice"
        dapr.io/app-port: "6002"
        dapr.io/log-level: "debug"
        dapr.io/sidecar-listen-addresses : "0.0.0.0"
        dapr.io/sidecar-cpu-request: "100m"
        dapr.io/sidecar-memory-request: "250Mi"
        dapr.io/sidecar-cpu-limit: "300m"
        dapr.io/sidecar-memory-limit: "1000Mi"
    spec:
      containers:
      - name: vehicleregistrationservice
        image: rutzscolabcr.azurecr.io/dapr-traffic-control/vehicleregistrationservice:latest
        ports:
        - containerPort: 6002
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 1000m
            memory: 200Mi
        livenessProbe:
          httpGet:
            path: v1.0/healthz
            port: 3500
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds : 5
          failureThreshold : 3
        readinessProbe:
          httpGet:
            path: v1.0/healthz
            port: 3500
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds : 5
          failureThreshold: 3
        env:
        - name: APPLICATIONINSIGHTS_CONNECTION_STRING 
          valueFrom:
              secretKeyRef:
                name: dapr-traffic-control-ai
                key: connectionstring